{# templates/add.html.twig #}

{{ form_start(form, {'method' : 'POST'}) }}

    <div class="form-field">
        {{ form_widget(form.firstname) }} 
    </div>
    <div class="form-field">
        {{ form_widget(form.lastname) }}
    </div>
    <div class="form-field">
        {{ form_widget(form.fullname) }}
        {{ form_errors(form.fullname) }}
    </div>
    <div class="form-field">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <button type="submit" value="Ajouter" class="button-base">Ajouter</button>

    <div class="required-field">(*) Champ obligatoire</div>
{{ form_end(form) }}
