{# templates/base.html.twig #}

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}" />
  {% endblock %}
  <title>
    {% block title %} {{ sitename }} {% endblock %}
  </title>
</head>
<body>
  {% block javascript %}
     <script src="{{ asset('build/app.js') }}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="{{ asset('js/main.js') }}"></script>
  {% endblock %}

  <div class="header-container">
     <img class="header-container__logo" src="{{ asset('images/logo.png') }}"/>
     <div class="header-container__content"> {{ sitename }} </div>
     <div class="header-container__menu">
        <a href="{{ path('contact_index') }}"><img src="{{ asset('images/icon-home.png') }}"/>Accueil</a>
        <a href="{{ path('contact_api_index') }}"><img src="{{ asset('images/icon-api.png') }}"/>Documentation API</a>
    </div>
  </div>
  <div class="overlay">
  </div>
  <div class="body-container">
     {% block body %}

     {% endblock %}
  </div>
  <footer>
    <img class="footer-logo" src="{{ asset('images/logo.png') }}" />
    <div class="footer-content">{% block footer %} @WilliamBertin - v1.0 - 28/12/2019 - will.bertin@outlook.com {% endblock %} </div>
  </footer>
</body>
</div>
</html>