{# templates/base.html.twig #}

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" /> 
  {% endblock %}
  <title>
    {% block title %} {{ sitename }} {% endblock %}
  </title>
</head>
<body>
  {% block javascript %}
     <script src="{{ asset('build/app.js') }}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="{{ asset('js/main.js') }}"></script>
  {% endblock %}

  <div class="header-container">
     <div class="header-container__content"> {{ sitename }} </div>
  </div>
  <div class="overlay">
  </div>
  <div class="body-container">
     {% block body %}

     {% endblock %}
  </div>
  <footer>
    <div class="footer-content">{% block footer %} Developed by {{ webmaster }}  {% endblock %} </div>
  </footer>
</body>
</div>
</html>