{# templates/edit.html.twig #}

{{ form_start(form, {'attr': {'name': 'contact_form' }}) }}

    <div class="form-field">
        {{ form_widget(form.firstname) }} 
    </div>
    <div class="form-field">
        {{ form_widget(form.lastname) }}
    </div>
    <div class="form-field">
        {{ form_widget(form.fullname) }}
        {{ form_errors(form.fullname) }}
    </div>
    <div class="form-field">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <button type="submit" name="edit"  value="Éditer" disabled="disabled" class="button-base">Éditer</button>
    <button type="submit" name="trash" value="Ajouter à la corbeille"     class="button-base">Ajouter à la corbeille</button>
{{ form_end(form) }}
